:root {
  --largura_principal: 320px;
  --largura_mensagem: 300px;
  --largura_pino: 10px;
  --altura_pino: 100px;
  --largura_disco1: 70px;
  --largura_disco2: 50px;
  --largura_disco3: 30px;
  --largura_disco4: 15px;
  --altura_discos: 10px;
  --largura_base: 105px;
}
header {
  margin: 10px auto;
  text-align: center;
  width: var(--largura_principal);
}
footer {
  width: var(--largura_principal);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  font-family: sans-serif;
  font-weight: bold;
  background-color: #fffbdb;
}
p {
  margin: 10px 0;
}
h1 {
  font-size: 1.5rem;
  font-weight: bold;
}
section#main {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 20px auto 0;
  display: flex;
  justify-content: space-evenly;
  width: var(--largura_principal);
}
section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 5px;
  width: var(--largura_pino);
  height: var(--altura_pino);
}
.default {
  background-color: #000;
  width: var(--largura_base);
  height: 10px;
  border: solid 1px;
  border-radius: 3px;
}
.primeiroPino {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-start;
  background-color: #000000;
}
.segundoPino {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-start;
  background-color: #000000;
}
.terceiroPino {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-start;
  background-color: #000000;
}
.disco1 {
  background-color: #f9a620;
  width: var(--largura_disco1);
  height: var(--altura_discos);
  border: solid 1px;
  border-radius: 5px;
}
.disco2 {
  background-color: #ffd449;
  width: var(--largura_disco2);
  height: var(--altura_discos);
  border: solid 1px;
  border-radius: 5px;
}
.disco3 {
  background-color: #548c2f;
  width: var(--largura_disco3);
  height: var(--altura_discos);
  border: solid 1px;
  border-radius: 5px;
}
.disco4 {
  background-color: #104911;
  width: var(--largura_disco4);
  height: var(--altura_discos);
  border: solid 1px;
  border-radius: 5px;
}
.disco1:hover,
.disco2:hover,
.disco3:hover,
.disco4:hover {
  border: #141414 solid 2px;
}
#mensagem {
  width: var(--largura_mensagem);
  height: 20px;
  text-align: center;
  margin: 5px auto;
  padding: 20px 0;
  color: #ffffff;
  border: solid 1px #141414;
}

#mensagem h1 {
  width: 100%;
  height: 100%;
  text-align: center;
}
#modo {
  display: flex;
  justify-content: center;
  width: var(--largura_principal);
  height: 30px;
  margin: 0 auto;
  padding: 20px 0;
}
#contador {
  display: flex;
  justify-content: center;
  width: var(--largura_principal);
  height: 30px;
  margin: 0 auto;
  padding: 20px 0;
}
img {
  border: solid #000000;
  border-radius: 100%;
  width: 150px;
  height: 150px;
}

@media only screen and (min-width: 767px) {
  :root {
    --largura_principal: 768px;
    --largura_mensagem: 748px;
    --largura_pino: 20px;
    --altura_pino: 200px;
    --largura_disco1: 100px;
    --largura_disco2: 80px;
    --largura_disco3: 60px;
    --largura_disco4: 40px;
    --altura_discos: 20px;
    --largura_base: 200px;
  }
}
